@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #14141f;
}

@layer components {
    .a {
        @apply  absolute top-0 bg-[#343444] md:bg-transparent h-[100vh] w-full z-50 flex flex-col md:flex  md:static md:w-auto md:h-auto md:flex-row items-center justify-center text-white text-lg transition-all duration-500;
    }
}


  /* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #343444;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: linear-gradient(45deg, #D24CF9 0%, #2138A0 35%, #81269F 100%);;
  }


  /* calendar color */
  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
}